@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'MyFont';
  src: url('./assets//fonts//AvertaStd.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

*{
    font-family: 'MyFont'
}
body{
 background: #232626
}

.font{
  font-family: 'MyFont'
}

input[type="number"] {
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


 .gradient-button {
      padding: 12px 24px;
      font-size: 14px;
      font-weight: 600;
      border: none;
      border-radius: 8px;
      cursor: pointer;
      transition: transform 0.2s ease;
      background: linear-gradient(90deg, rgb(36, 238, 137), rgb(159, 232, 113));
    }

    .gradient-button:hover {
      transform: scale(1.05);
    }

    .gradient-button:active {
      transform: scale(0.98);
    }



    .pickaTitle{
      padding: 12px 24px;
      font-size: 14px;
      font-weight: 600;
      border: none;
      border-radius: 8px;
      cursor: pointer; 
    }

    .cashOutBtn{
      background:   linear-gradient(270deg, rgb(251, 215, 101) 0%, rgb(239, 158, 63) 100%);
      box-shadow: rgba(255, 187, 0, 0.5) 0px 0px 10px 0px;
    }


    /* ///////////////////////////// */

    .square-item{
    width: 90px;
    height: 90px;
    background: rebeccapurple;
}

.square-item:hover{
    transform: translateY(-5px);
    cursor: pointer;
}

.d-grid{
  display: grid;
  grid-template-columns: repeat(5, 90px);
  row-gap: 10px;
  column-gap: 10px;
}

.blur-sm {
  /* filter: blur(4px); */
}

.mine-highlight {
  box-shadow: 0 0 12px 6px #ffd700; /* yellow glow */
  border: 2px solid #ffd700;
  z-index: 2;
}


.transparent-bg {
  max-width: 480px;
  width: 100%;
  padding: 16px;
  border-radius: 20px;
  background: #292d2e;
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  position: relative;
}

.transparent-bg::after{
      content: "";
      background: url(./assets/images/crows.webp) no-repeat;
      background-size: contain;
      position: absolute;
      width: 85px;
      height: 14px;
      top: 0;
      left: 10px;
  }

  .transparent-bg::before{
      content: "";
      background: url(./assets/images/ghost.webp) no-repeat;
      background-size: contain;
          position: absolute;
    width: 169px;
    height: 56px;
    top: -28px;
    right: 4px;
    z-index: 1
   }



   .minesGameContainer{
    background: url("./assets/images/bgMinesDark.png");
    height: 592px;
    width: 100%;
    padding: 10px   ;
    position: relative;
}


   
   .starsOut{
    position: relative;
   }

   .starsOut::after{
    content: "";
    position: absolute;
    background: url("./assets/images/grayStar.png") no-repeat;
     background-size: contain;
    width: 10px;
    height: 10px;
    right: 45px;
    top: auto;
    bottom: 90px;
  }

.starsOut::before{
    content: "";
    position: absolute;

    background: url("./assets/images/grayStar.png") no-repeat;
    /* background: url("./assets/images/whiteStar.png") no-repeat; */
        background-size: contain;
      width: 10px;
    height: 20px;
    right: 140px;
    top: auto;
    bottom: 40px;
    z-index: 23;}

   
.minesGameContainer::after{
    content: "";
    position: absolute;
    background: url("./assets/images/grayStar.png") no-repeat;
    background-size: contain;
    width: 10px;
    height: 10px;
    left: 45px;
    top: auto;
    bottom: 100px;
  }

.minesGameContainer::before{
    content: "";
    position: absolute;
    background: url("./assets/images/whiteStar.png") no-repeat;
    background-size: contain;
    width: 10px;
    height: 10px;
    left: 125px;
    top: auto;
    bottom: 95px;
  }

/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}
